VITE_SNOWFLAKE_ACCOUNT=XXXXXXX-XXXXXXX
VITE_SNOWFLAKE_USER=WORKSHOP_SVC_USER
VITE_SNOWFLAKE_TOKEN=your_programmatic_access_token
VITE_SNOWFLAKE_DATABASE=DIGITALNATIVECO
VITE_SNOWFLAKE_SCHEMA=MARTS
VITE_SNOWFLAKE_WAREHOUSE=COMPUTE_WH
VITE_SNOWFLAKE_ROLE=WORKSHOP_ROLE
